[run]
branch = True
source = piscat.InputOutput, piscat.Preproccessing, piscat.BackgroundCorrection, piscat.Localization, piscat.Trajectory, piscat.Analysis
omit =
    # omit frst because this file will be deleted
    */frst.py
    # this function is not used in this version
    */patch_genrator.py
    #
    */__init__.py
    # remove this file because we can not test plots on git actions
    */plot_protein_histogram.py
[report]
exclude_lines =
    @njit(parallel=True)
    # this decorator belongs to the GUI
    @Slot()
    # this function is not used in current version
    numba_temporal_moving_average
    # these functions are called by GUI
    _FPNc_GUI_axis
    _FPN_GUI
    self.flag_GUI is True:
    self.flag_GUI:
    # this method excluded because only the related function run without parallel condition
    FPNc_kernel
    # this part of the code run in Jupyter notebook
    "JPY_PARENT_PID" in os.environ
    # this methods are excluded because they do not have any usage in the package
    radial_profile_app2
    plot_directional_intensity
    plot_polar_image
    index_coords
    cart2polar
    polar2cart
    bin_by
    reproject_image_into_polar
    # this methods are excluded in radial symetry centering script in Localization because they do not have any usage in the package
    radialcenter_probility_map
    patch_genrator
    psf_center_all_frames

[pytest]
filterwarnings = ignore::DeprecationWarning
