GitPython
PyQt6==6.2.3
PyQtWebEngine
Pyside6==6.2.3
astropy
flifile
h5py
imageio-ffmpeg==0.4.5
ipywidgets
joblib
matplotlib
networkx
notebook
numba
numpy==1.23.5
opencv-python
pandas<2.0
psutil
pyqtgraph==0.12
requests
scikit-image
scikit_learn
scipy>=0.14.0
subprocess.run
tensorflow
tifffile
tqdm
trackpy
wget
