sphinx
nbsphinx
wget
sphinx_rtd_theme
sphinxcontrib-bibtex
numpy
pandas
opencv-python
scipy
matplotlib
PyQt5
Pyside2
pyqtgraph
scikit_learn
scikit-image
tqdm
trackpy
joblib
psutil
ipywidgets
networkx
numba
astropy
flifile
requests
wget
versioned-hdf5
h5py
ipykernel
m2r2
recommonmark
sphinx-markdown-tables
sphinx-copybutton
Markdown==3.2